.search-container {
  text-align: center;
  padding: 20px;
}

#search-bar {
  width: 500px;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-right: 10px;
}

#search-button {
  display: inline-block;
  border-radius: 50px;
  background-color: orange;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 160px;
  height: 55px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#search-button:hover {
  padding-right: 25px;
  background-color: #ff6600;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

#search-button:hover::after {
  opacity: 1;
  right: 0;
}

#more-button {
  display: block;
  margin: 20px auto;
  border-radius: 50px;
  background-color: orange;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 160px;
  height: 55px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#more-button:hover {
  background-color: #ff6600;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.like-dislike-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.like-btn,
.dislike-btn {
  padding: 0;
  margin: 0 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.like-btn img,
.dislike-btn img {
  width: 30px;
  height: auto;
  transition: filter 0.3s;
}

.like-btn:hover img,
.dislike-btn:hover img {
  transform: scale(1.1);
}

.like-dislike-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  width: 200px;
  height: 60px;
  margin: auto;
}

.like-dislike-buttons {
  display: flex;
}
